<header>
    <nav>
        <a href="/">Memery</a>
        <ul>
            <li> <a href="/authors">Authors</a> </li>
            <li> <a href="/authors/new">Add Author</a> </li>
            <li> <a href="/memes">Memes</a> </li>
            <li> <a href="/memes/new">Add Meme</a> </li>
        </ul>
    </nav>
</header>